<div class="chart" [class.chart--compact]="compact()">
  <div class="chart__legend">
    <span class="chart__key"
      ><i class="chart__swatch chart__swatch--users"></i>Visitors
      <b class="pl-num">{{ totals().users }}</b></span
    >
    <span class="chart__key"
      ><i class="chart__swatch chart__swatch--sessions"></i>Sessions
      <b class="pl-num">{{ totals().sessions }}</b></span
    >
  </div>

  <div class="chart__body">
    <div class="chart__y">
      <span class="pl-num">{{ maxLabel() }}</span>
      <span class="pl-num">{{ midLabel() }}</span>
      <span class="pl-num">0</span>
    </div>
    <div class="chart__plot">
      @if (isEmpty()) {
        <p class="chart__empty pl-muted">No traffic points in this range.</p>
      } @else {
        <svg
          [attr.viewBox]="viewBox"
          preserveAspectRatio="none"
          role="img"
          [attr.aria-label]="ariaLabel()"
        >
          <line
            x1="0"
            y1="50"
            x2="100"
            y2="50"
            class="chart__grid"
            vector-effect="non-scaling-stroke"
          />
          <path [attr.d]="usersArea()" class="chart__area" />
          <path
            [attr.d]="sessionsPath()"
            class="chart__line chart__line--sessions"
            vector-effect="non-scaling-stroke"
          />
          <path
            [attr.d]="usersPath()"
            class="chart__line chart__line--users"
            vector-effect="non-scaling-stroke"
          />
        </svg>
      }
    </div>
  </div>

  <div class="chart__x">
    @for (label of xLabels(); track $index) {
      <span class="pl-num">{{ label }}</span>
    }
  </div>
</div>
