<svg
  class="sparkline sparkline--fill"
  [attr.viewBox]="viewBox"
  preserveAspectRatio="none"
  aria-hidden="true"
>
  @if (!isEmpty()) {
    <path [attr.d]="areaPath()" class="sparkline__area" />
  }
</svg>
<svg
  class="sparkline"
  [attr.viewBox]="viewBox"
  preserveAspectRatio="none"
  role="img"
  [attr.aria-label]="ariaLabel()"
>
  @if (isEmpty()) {
    <line
      x1="2"
      y1="16"
      x2="98"
      y2="16"
      class="sparkline__empty"
      vector-effect="non-scaling-stroke"
    />
  } @else {
    <path [attr.d]="linePath()" class="sparkline__line" vector-effect="non-scaling-stroke" />
  }
</svg>
